<div class="button-container" style="position: relative;">
  <form [formGroup]="articleForm" (ngSubmit)="onCreateCategory()">
    <app-input-molecule 
      title="Create New Category"
      [nameLabel]="'Category Name'" 
      [descLabel]="'Category Description'" 
      [nameControl]="nameControl"
      [descriptionControl]="descriptionControl"
      [required]="false">
      
    </app-input-molecule>
    <app-button 
      buttonText="Create Category" 
      [position]="{ top: '300px', left: '600px' }"
      [disabled]="false" 
      type="submit"
      (buttonClick)="onCreateCategory()">
    </app-button>
  </form>

  <div *ngIf="successMessage" style="color: green; position: absolute; top: 270px; left: 580px;">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessageNombre" style="color: red; position: absolute; top: 172px; left: 600px;">
    {{ errorMessageNombre }}
  </div>

  <div *ngIf="errorMessageDescripcion" style="color: red; position: absolute; top: 267px; left: 590px;">
    {{ errorMessageDescripcion }}
  </div>

  <div *ngIf="respuestaApi">
    Respuesta: {{ respuestaApi | json }}
  </div>
</div>
