<div class="input-molecule-container">
  <h2 class="molecule-title" *ngIf="title">{{ title }}</h2>
  <app-input 
    [label]="nameLabel" 
    placeholder="Enter name" 
    [formControl]="nameControl"
    [required]="required"
    [position]="{ top: '110px', left: '530px' }"
    [width]="'250px'">
  </app-input>

  <app-input 
    [label]="descLabel" 
    placeholder="Enter description" 
    [formControl]="descriptionControl"
    [required]="required"
    [position]="{ top: '130px', left: '530px' }"
    [width]="'250px'">
  </app-input>
</div>