@import '/src/app/shared/styles/styles.scss';

.input-molecule-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    align-items: flex-start; 

    
}  

.molecule-title {
    margin-bottom: 0px; 
    font-size: 40px;
    font-weight: 500;
    position: absolute; 
    top: 10px; 
    left: 450px;
    font-family: monospace ;
    color: rgb(62, 41, 90);
  }